@import "navbar.scss";
@import "test.scss";

.App {
  background-color: #30475e;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}

.logo {
  width: 650px;
}
