@import "navbar.scss";
@import "test.scss";

.App {
  background-color: #30475e;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;

  div {
    color: #f5f5f5;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.logo {
  width: 650px;
}
